@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100vh;
}

.root {
    height: 100%;
}

.rootBody {
    height: 100%;
}



.marginTop15 {
    margin-top: 15px;
}

.textAlignCenter {
    text-align: center;
}

.hidden {
    display: none;
}


.mainContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;
    margin: 0 auto;
}

.mainContent__title {
    text-align: center;
}

@media (min-width: 1024px) {
    .mainContent {
        max-width: 1024px;
    }
}

.modalAddCard--open {
    display: block;
}

.modalAddCard--closed {
    display: none;
}

.modalAddCard {
    width: 100%;
    height: 100%;

    padding: 30px;

    position: absolute;
    top: 0;

    background-color: #ffffff;
}

@media (min-width: 1024px) {
    .modalAddCard__form {
        max-width: 1024px;
        margin: 0 auto;
    }
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.inputWrapper__label {
    font-size: 1rem;
}

.inputWrapper__input {
    font-size: 1rem;
    padding: 10px;
    border: 0;
    outline: none;
    border-radius: 3px;

    background-color: #EFEFEF;
}



.button {
    width: 100%;
    padding: 10px;
    border: 0px;

    font-size: 1rem;
}



.costsList {
    height: 100%;
    min-height: 280px;
    max-height: 60vh;
    padding: 20px 20px 20px 20px;

    background-color: #C4C4C4;

    list-style: none;
    overflow-y: scroll;
}


.totalCost__title {
    font-weight: 300;
}

.totalCost__value {
    font-weight: 700;
    font-size: 1rem + 0.375rem;
}


.costsList__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 425px) {
    .costsList__row {
        justify-content: space-evenly; 
    }
}


.costItem {
    display: flex;
    flex-direction: column;
    
    width: 125px;
    max-height: 200px;

    margin-top: 10px;
    padding: 10px;
    
    background-color: #EFEFEF;
}

.costItem__image {
    display: block;
    width: 100%;
    height: 105px;
    margin-right: 5px;

    background: #C4C4C4;
}

.costItem__description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 10px;
}

.costItem__price {
    font-size: 1rem + 0.125rem;
    font-weight: 700;
}



.addCostButton {
    padding: 10px 0px;

    border: 0;
    border-radius: 3px;

    outline: none;

    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}